* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

header {
    background-color: brown;
    text-align: center;
    color: whitesmoke;
    width: auto;
    height: 150px;
    line-height: 150px;
    font-size: 50px;
}

body {
    text-align: center;
    position: relative;
    background-color: burlywood;
}

#info-container {
    display: flex;
    justify-content: space-around;
}

h1 {
    margin: 30px;
    font-size: 40px;
    order: 1;
}

h2 {
    margin: 30px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset {
    margin: 10px;
    background-image: url(./images/reset.png);
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: 0;
    cursor: pointer;
}

#player-score, #pc-score {
    margin: 30px;
    font-size: 40px;
    font-weight: bold;
}

#player-score {
    order: 0;
}

#pc-score {
    order: 2;
}

.grow {
    transition: transform .5s;
    margin: 30px;
}

.grow:hover {
    transform:scale(1.2);
}

.shrink:active {
    transform:scale(.8);
}

.rock, .paper, .scissors {
    width: 180px;
    height: 180px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.rock {
    background-image: url(./images/noun_Fist_477918s.png);
}

.paper {
    background-image: url(./images/noun_Hand_477922s.png);
}

.scissors {
    background-image: url(./images/noun_Scissors_477919s.png);
}

.right-arrow, .left-arrow, .cross {
    width: 180px;
    height: 180px;
    background-color: transparent;
    border: 0;
}

.right-arrow {
    background-image: url(./images/noun_Right_Arrow_1920806s.png);
}

.left-arrow {
    background-image: url(./images/noun_Left_Arrow_1920781s.png);
}

.cross {
    background-image: url(./images/noun_X_2289986s.png);
}

#play-area {
    display: flex;
    justify-content: space-evenly;
}

#player-choice, #pc-choice, #pointer {
    flex-basis: 180px;
    height: 180px;
    border: 10px solid black;
}